footer #contacts{
	background: #161f32;
	color: #fff;
	text-align: center;
}
footer #contacts h2{
	font-size: 30px;
	padding-top: 68px;
}
footer #contacts h3{font-size: 20px;}
footer #contacts h2,
footer #contacts h3{
	font-family: 'latoregular';
	text-transform: uppercase;
	margin-bottom: 24px;
}
footer #contacts h4{
	font-family: 'latolight';
	font-size: 11px;
	margin-bottom: 38px;
}
footer #contacts img{
	display: block;
	margin: 0 auto;
	margin-bottom: 24px;
}
footer #contacts p{
	font-family: 'latoregular';
	font-size: 15px;
	line-height: 19px;
	margin-bottom: 57px;
}
footer #contacts .social img{display: inline-block;}
footer #contacts .social h4{
	font-family: 'latoregular';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px !important;
}
footer #contacts .social span{
	font-family: 'latoregular';
	font-size: 20px;
	color: #fff;
	display: inline-block;
	margin-bottom: 20px;
}
footer #contacts form{margin-bottom: 32px;}
footer #contacts input{
	height: 65px;
	margin-bottom: 30px;
  	color:#fff;	
}
footer #contacts textarea{
	height: 210px;
	margin-bottom: 32px;
}
footer #contacts input,
footer #contacts textarea{
	background: #161f32;
	color:#fff;
	border: 1px solid #fff;
	width: -webkit-fill-available;
	padding: 12px 20px;
	font-family: 'latoregular';
	font-style: italic;
	outline: none;
}
footer #contacts ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color:#fff;
	font-family: 'latoregular';
	opacity: 1; /* Firefox */
	font-style: italic;
}
footer #contacts :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:#fff;
	font-family: 'latoregular';
	font-style: italic;
}
footer #contacts ::-ms-input-placeholder { /* Microsoft Edge */
	color:#fff;
	font-family: 'latoregular';
	font-style: italic;
}
/* Large - lg */
@media only screen and (max-width: 1200px){
	footer #contacts .item{
		margin-bottom: 45px;
	}
}

